

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,400italic,600,300italic,300|PT+Sans+Narrow:400,700&subset=latin,cyrillic);


html {
	font-size: 100%;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	width: 100%;
	max-width: 1200px;
	min-width: 320px;
	margin: 0 auto;
}

p {
  color: #5b666d;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.625rem;
	word-spacing: 0.125rem;
	font-family: 'Open Sans', sans-serif;
}

h3 {
	text-align: center;
	font-size: 2rem;
}

h1,
h3,
h4 {
	font-family: 'PT Sans Narrow', sans-serif;
}

/*-----------header--------------------*/

.one {
	height: 53rem;
	border-bottom: 0.1rem solid #e1e5e7;
	position: relative; 
}

.top-line {
	background-color: #000000;
}

.header-content {
	margin-top: 7rem;  
}

.header-text {
	margin: 0; 
}

.header-text h2 { 
	margin: 1.5rem; 
	font-size: 6rem;
	line-height: 5rem;
	font-weight: 800;
	font-family: 'Open Sans', sans-serif;
}

.header-text span { 
	color: #3ec7c2;
}

.go-to {
	display: block;
	position: absolute;
	bottom: 10%;
	right: 45%;
	left: 45%;
	width: 10%;
	height: 4rem; 
}

.go-to .lnr {
  display: block;
  width: 100%;
  height: 100%;
}

/*-----------logo--------------------*/
.logo {
	float: left; 
}

.logo h1 {
	font-size: 1.3rem;
	float: right;
	margin-left: 0.5rem;
	margin-top: 0.7rem;
	color: #3ec7c2;
}

/*-----------over logo--------------------*/

/*-----------menu--------------------*/


.menu li {
	float: left;
	list-style: none; 
	margin-right: 2.2rem;
}

.menu ul {
	float: right;
	margin-top: 1rem;
}

.menu a {
	display: block;
	text-decoration: none;
	font-family: 'PT Sans Narrow', sans-serif;  
	font-size: 1rem;
	font-weight: 500;
	color: #FFFFFF;
}

.menu a:hover {
	color: #3ec7c2;
}

/*-----------over menu--------------------*/

/*-----------mobile-menu--------------------*/

.mobile-menu {
	position: absolute;
	right: 0; 
	background-color: #000000;
	width: 50%;
	display: none;
}

.mobile-menu ul {
	padding: 0;
}

.mobile-menu li {
	list-style-type: none 
}

.mobile-menu a {
	text-align: center;
	display: block;
	color: #FFFFFF;
	text-decoration: none;
	margin: 2rem 2rem;
	font-family: 'PT Sans Narrow', sans-serif;  
	font-size: 1rem;
	font-weight: 500; 
}

.mobile-menu a:hover {
	color: #3ec7c2;
}

.menu-icon {
	float: right;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem; 
	margin-right: 0.5rem;
	cursor: pointer;
	display: none; 
}

.menu-icon .lnr {
  display: inline-block;
  fill: currentColor;
  width: 2.5rem;
  height: 2.5rem;
  vertical-align: -0.05em;
}

.menu-icon .lnr-menu {
  color: #FFFFFF;
}

/*-----------over mobile-menu--------------------*/

/*-----------over header--------------------*/

/*----------- main--------------------*/

/*-----------about_content--------------------*/
.two {
	border-bottom: 0.1rem solid #e1e5e7; 
}

.about-content {
	margin-top: 2rem;
	margin-bottom: 2rem;
}
 
.about-content h4 {
	text-align: center;
	text-transform: uppercase;
}

.about-content span {
	color: #3ec7c2;
}

/*-----------over about_content--------------------*/

/*-----------why_we_content--------------------*/


.why-we-content {
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.why-we-content img {
	width: 3rem;
}

.why-we-info {
	margin-top: 2rem; 
}

/*-----------over why_we_content--------------------*/

/*-----------services_content--------------------*/

.four {
	border-bottom: 0.1rem solid #e1e5e7;
	border-top: 0.1rem solid #e1e5e7;  
}

.services-content {
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 2rem;  
}

.services-info img {
	width: 3rem;
}

.services-info ul {
	padding: 0;
}

.services-info li {
	text-transform: uppercase;
	color: #5b666d;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.625rem;
  word-spacing: 0.125rem;
	list-style: none;
	font-family: 'Open Sans', sans-serif;
}

.services-info {
	margin-top: 2rem; 
}

/*-----------over services_content--------------------*/

/*-----------portfolio--------------------*/

.portfolio-content {
	position: relative;
	margin-top: 2rem;
	margin-bottom: 2rem;  
}

.portfolio-content h3 {
	text-align: center;
	margin-bottom: 2rem; 
}

.portfolio-img {
	cursor: pointer;
	padding-bottom: 1.5rem;
}

.modal-window {
	display: none;
	position: absolute;
	padding: 0 !important; 
	top: 18%;
}

.modal-window img {
	width: 100%;
	height: auto;
}

.modal-window-bottom-line {
	position: absolute;
	bottom: 0;
	z-index: 9999;
	width: 100%;
	background-color: #000000;
}

.switch {
	float: left;
	user-select: none;
}

.close {
	float: right;
	user-select: none;
}

.close .lnr {
	display: inline-block;
  fill: currentColor;
  width: 3rem;
  height: 3rem;
  vertical-align: -0.05em;
  padding: 1rem;
}

.close .lnr-cross-circle {
	color: #3ec7c2;
}

.switch .lnr {
  display: inline-block;
  fill: currentColor;
  width: 3rem;
  height: 3rem;
  vertical-align: -0.05em;
  padding: 1rem;
}

.switch .lnr-arrow-left-circle,
.lnr-arrow-right-circle {
  color: #3ec7c2;
 }

 #close,
 #switchBack,
 #switchForward {
 	cursor: pointer;
 }

/*-----------over potfolio--------------------*/


/*-----------contacts_content--------------------*/

.five {
	border-top: 0.1rem solid #e1e5e7; 
	background-color: #f5f5f7;
}

.contacts-content {
	margin-top: 2rem;
	margin-bottom: 2rem; 
}

.contacts-content h3,
h4 {
	text-align: center;
	color: #000000; 
}

.contacts-content a {
	text-decoration: none;
	display: block;
	margin-top: 0.5rem;
	color: #5b666d;
	font-size: 1rem;
	font-weight: 500;
}

.phone-icon,
.email-icon,
.social-icon,
.phone,
.email {
	margin-top: 1rem;
}

.contacts-feedback span {
	color: #3ec7c2;
}

.form-element {
	width: 100%;
	height: 3rem;
	border: 0.1rem solid #d2d3d5;
	border-radius: 0.1rem;
	color: #5b666d;
	font-size: 1rem;
	outline: none;
	margin-top: 1rem;
	padding-left: 1rem; 
}

.form-element:focus {
	border: 0.1rem solid #3ec7c2;
}

.message-element {
	height: 10rem;
}

button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
  border: none;
}

textarea {
	padding-top: 1rem; 
}

::-ms-clear {
  display: none;
}

.submit-button {
	padding: 0.5rem 0.5rem;
	background-color: #3ec7c2;
	border: inherit;
	color: #FFFFFF;
	font-weight: 700;
	cursor: pointer;
}

.submit-button:hover {
	background-color: #FFFFFF;
	color: #3ec7c2;
	border: 0.1rem solid #3ec7c2; 
}

.label-element {
	margin-top: 1rem;
	text-align: right; 
}

/*-----------over contacts_content--------------------*/


/*-----------over main--------------------*/

/*-----------footer--------------------*/

footer {
	background-color: #000000;
}

.footer-menu ul {
	float: left;
	padding: 0;
}

.footer-menu li {
	float: left;
	list-style: none;
	margin: 0;
	border-right: 0.1rem solid #5b666d;  
}

.footer-menu a {
	display: block;
	text-decoration: none;
	color: #5b666d;
	font-family: 'PT Sans Narrow', sans-serif;  
	font-size: 1rem;
	padding-right: 0.4rem;
	padding-left: 0.4rem; 
}

.footer-menu a:hover {
	color: #FFFFFF;
}

.footer-menu li:last-child {
	border-right: none;
}

h5 {
	float: right;
	color: #5b666d;
	font-size: 1.1rem;
	margin-top: 0.9rem;
}

.icons-license {
	margin-bottom: 1rem;
}

.icons-license a {
	text-decoration: none;
	color:#FFFFFF;
	padding-right: 0.5rem;
}

.icons-license span {
	color: #3ec7c2;
	padding-right: 0.5rem; 
}

/*-----------over footer--------------------*/

@media only screen and (max-width: 767px) {

	html {
		font-size: 75%;
	}

	.one {
		height: 45rem;
	}

	.menu nav {
		display: none;
	}

	.menu-icon {
		display: block;
	}
	
	.header-content {
		margin-top: 0.5rem;
	}

	.header-text h2 {
		margin-top: 0;
		font-size: 3.5rem;
		line-height: 3rem;

	}

	.modal-window { 
		top: 20%;
	}	

}

@media only screen and (min-width: 768px) and (max-width: 959px) {

	.menu nav {
		display: none;
	}

	.menu-icon {
		display: block;
	}

	.one {
		height: 60rem;
	}

	.header-content {
		margin-top: 0.5rem;
	}

}

@media only screen and (min-width: 1921px) {
	
	html {
		font-size: 150%;
	}

	.container {
		width: 100%;
		max-width: 1600px;
		min-width: 320px;
		margin: 0 auto;
	}

	.one {
		height: 59rem;
	}

}