.image,.portfolio-header {
    overflow: hidden
}

.customers,.head-text-center,.hello-content h1,.hello-content p,.menu ul,.view-and-get-battons {
    text-align: center
}

.go-to-instagram a,.menu a,.portfolio-nav a,.posts h5 a {
    text-decoration: none
}

html {
    font-size: 10px;
    font-family: Dosis,sans-serif
}

.head-text,.head-text-center {
    font-weight: 700;
    font-size: 1.6rem
}

img {
    width: 100%;
    height: auto
}

.container {
    width: 100%;
    max-width: 1600px;
    min-width: 320px;
    margin: 0 auto
}

.head-text {
    color: #4e4e4e;
    margin-bottom: 2.4rem
}

.head-text-center {
    margin-bottom: 2.8rem
}

.logo {
    margin-top: 2.7rem;
    margin-bottom: 3rem
}

.logo-image {
    width: auto;
    height: auto
}

.menu-line {
    background-color: #f2f2f2
}

.menu {
    padding: 2.1rem 0
}

.menu li {
    display: inline-block;
    list-style: none;
    margin-right: 3.8rem
}

.menu a {
    color: #6d6d6d;
    font-weight: 700;
    font-size: 1.2rem
}

.active {
    color: #6aaeae!important
}

.menu a:hover {
    color: #6aaeae
}

.slider {
    margin-top: 4rem
}

.hello-content h1 {
    font-size: 3.5rem;
    font-weight: 600;
    margin-top: 6rem;
    color: #4e4e4e;
    margin-bottom: 1rem
}

.hello-content p {
    font-size: 2.8rem;
    font-weight: 300;
    color: #5c5c5c;
    line-height: 4rem;
    margin-bottom: 6.7rem
}

.let-is-make-content h3,.what-we-do-content h3,h4 {
    font-size: 1.6rem;
    font-weight: 700
}

.shots {
    float: left
}

.portfolio-nav ul {
    float: right
}

.portfolio-nav li {
    float: left;
    list-style: none;
    margin-right: 1.7rem
}

.portfolio-nav a {
    font-size: 1.3rem;
    font-weight: 700;
    color: #4e4e4e;
    text-transform: uppercase
}

.portfolio-nav a:hover {
    color: #6aaeae
}

.pb {
    padding-bottom: .4rem
}

.pt {
    padding-top: .5rem
}

.no-pr {
    padding-right: 0!important
}

.no-pl {
    padding-left: 0!important
}

.image img {
    -webkit-transition: all .6s ease;
    transition: all .6s ease;
    display: block
}

.image img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

.let-is-make-content {
    padding-top: 5.8rem;
    padding-bottom: 6.5rem
}

.let-is-make-content a {
    color: #fff
}

.let-is-make-content a:hover {
    color: #000
}

.view {
    background-color: #57a4a4
}

.get {
    background-color: #a0688b
}

.get,.view {
    display: inline-block;
    width: 12rem;
    padding: 1.6rem 2.2rem
}

.what-we-do-content {
    background-color: #f7f7f7;
    padding-top: 6.4rem;
    padding-bottom: 3rem
}

.customers,.posts {
    padding-top: 6.9rem
}

.what-we-do-content h3,h4 {
    color: #4e4e4e;
    margin-bottom: 2.6rem
}

.what-we-do-content h4 {
    margin-left: 2.2rem
}

.what-we-do-content p {
    font-size: 1.6rem;
    font-weight: 500;
    color: #aaa;
    margin-left: 2.2rem;
    line-height: 2.6rem
}

.customers h3,.customers p {
    color: #eaeaea
}

.heart h4,.heart p {
    margin-left: 1rem
}

.posts h4,.posts h5,.posts p {
    margin-left: 1.8rem
}

.what-we-do-block {
    margin-bottom: 4.2rem
}

.what-our-customers-content {
    background-image: url(../img/background-image.png);
    background-repeat: no-repeat;
    background-size: cover
}

.customers {
    padding-bottom: 7.1rem
}

.customers p {
    font-size: 2rem;
    font-weight: 400;
    line-height: 3.5rem
}

.get-in-touch p,.posts p {
    line-height: 2.6rem
}

.customers h4 {
    font-size: 1.2rem;
    font-weight: 700;
    color: #559d9d;
    margin-top: 2.4rem
}

.posts {
    padding-bottom: 3.1rem
}

.posts h3,a {
    font-size: 1.6rem;
    font-weight: 700;
    color: #4e4e4e
}

.posts h3,h5 {
    margin-bottom: 2.6rem
}

.posts h4 {
    margin-bottom: 1.6rem
}

.posts h5 {
    font-size: 1.4rem;
    font-weight: 400;
    color: #aaa
}

.posts p {
    font-size: 1.6rem;
    font-weight: 500;
    color: #aaa
}

.post-block {
    margin-bottom: 4.6rem
}

.posts h5 a {
    color: #aaa
}

.social-content {
    padding-top: 6.5rem;
    padding-bottom: 7rem;
    background-color: #f7f7f7
}

.go-to-instagram a {
    font-size: 1.3rem;
    font-weight: 700;
    color: #4e4e4e
}

.go-to-instagram h3 {
    background-image: url(../img/row-image.png);
    background-repeat: no-repeat;
    background-position: 17rem .3rem;
    padding-left: 1.5rem
}

.get-in-touch-content {
    background-color: #1e1f20;
    padding: 6.6rem 0
}

.get-in-touch h3 {
    color: #FFF
}

.footer-content p,.get-in-touch p {
    font-size: 1.6rem;
    font-weight: 400;
    color: #b2b2b2;
    text-align: center
}

.social-icons {
    text-align: center;
    margin: 3.7rem 0
}

.social-icons img {
    width: auto;
    height: auto;
    margin: 0 .2rem
}

.footer-content {
    background-color: #1a1a1b;
    padding: 3.7rem 0
}

@media only screen and (max-width:767px) {
    html {
        font-size: 8px
    }

    .logo-image {
        width: 100%;
        height: auto
    }

    .menu li {
        display: block;
        margin: 1.5rem 0
    }

    .portfolio-nav li,.portfolio-nav ul,.shots {
        float: none
    }

    .portfolio-nav li {
        display: inline-block
    }

    .portfolio-nav ul {
        text-align: center;
        padding: 2rem 0
    }

    .image,[class*=col-] {
        padding: 0!important
    }

    .pb {
        padding-bottom: 0!important
    }

    .pt {
        padding-top: 0!important
    }

    .head-text {
        text-align: center
    }

    .heart h4,.heart p,.what-we-do-content h4,.what-we-do-content p {
        margin: 2rem 0;
        text-align: center
    }

    .what-we-do-block {
        margin-bottom: 0
    }

    .post-block {
        margin-bottom: 2rem
    }

    .go-to-instagram h3 {
        text-align: center;
        padding: 2rem 0;
        background: 0 0
    }
}

@media only screen and (min-width:768px) and (max-width:959px) {
    .heart h4,.heart p {
        margin-left: 2rem
    }
}