a,html {
    color: #848484
}

a,h2:after {
    display: block
}

html {
    font-size: 10px;
    font-family: 'Open Sans',sans-serif
}

img {
    width: 100%;
    height: auto
}

.container {
    width: 100%;
    max-width: 1200px;
    min-width: 320px;
    margin: 0 auto
}

p {
    font-size: 16px;
    font-size: 1.6rem;
    margin: 2rem 0
}

a {
    text-decoration: none;
    outline: none;
}

.logo a,h2 {
    font-size: 18px;
    font-size: 1.8rem;
    margin-top: 3rem
}

.logo a {
    width: 140px;
    width: 14rem;
    margin-bottom: 8rem
}

h2:after {
    width: 30px;
    width: 3rem;
    height: 1px;
    background: #dcdcdc;
    content: " ";
    margin-top: 1.5rem;
    margin-bottom: 3rem
}

h3 {
    font-size: 16px;
    font-size: 1.6rem
}

.example {
    background-color: #ebebeb;
    padding: 8rem 0;
    margin-bottom: 8rem;
    position: relative
}


@media only screen and (max-width:650px) {
    html {
        font-size: 8px
    }

    .example {
        padding: 4rem 0;
        margin-bottom: 4rem
    }
}

@media only screen and (min-width:650px) and (max-width:959px) {
    html {
        font-size: 9px
    }

    .example {
        padding: 2rem 0;
        margin-bottom: 2rem
    }

    [class*=col-] {
        padding-left: 2rem!important;
        padding-right: 2rem!important
    }
}